h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

.list {
    width: 85%;
    margin: 100px auto 0;
    border: 2px solid gray;
    border-radius: 6px;
    height: 800px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.heading {
    border-bottom: 2px solid gray;
    margin-top: 40px;
}

.heading h1 {
    font-size: 24px;
}


.menu {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create {
    background-color: red;
    color: white;
    padding: 0 50px;
    font-size: 15px;
    border-radius: 50px;
    padding: 4px 40px;
}

.menu form {
    float: right;
}

select {
    width: 150px;
    height: 26px;
    margin-right: 5px;
    background-color: #dddddd7a;
}

.search {
    padding: 0 15px;
    background-color: white;
    height: 26px;
}

table {
    height: 400px;
    width: 100%;
}

.table-title {
    background-color: red;
    color: white;
    height: 35px;
}

tr:first-of-type {
    border-left: 2px solid #bfbcbc;
}

th {
    font-size: 12px;
    border-right: 2px solid #bfbcbc;
    border-bottom: 2px solid #bfbcbc;
    
}

th:not(.link) {
    text-align: left;
    padding-left: 15px;
}

th a {
    color: red;
}

.to-list a{
    border: 2px solid red;
    border-radius: 30px;
    padding: 1px 20px;
}

.page-navigation {
    text-align: center;
    padding: 30px 0;
    border-bottom: 1px solid #000;
}

.p-nav {
    border: 1px solid gray;
    padding: 0 10px;
    color: black;
    border-radius: 5px;
    font-size: 13px;
}

.next {
    margin-left: 10px;
}

.next span {
    padding-left: 7px;
}

.prev span {
    padding-right: 7px;
}